/*
Template Name: Flower Studio
Version: 0.1
Author: PT. Qeon Interactive (Hanif Putra)
*/
/*********************************************************/
/*                 sass config                  */
/*********************************************************/

@import "core";

/*********************************************************/
/*                 custom sass styles                  */
/*********************************************************/
a, a:active, a:focus, input, p, article {
outline: none;
}
img{
  // min-width: 100%; height:auto;
  border:0; outline:none;
}
a{
  text-decoration: none;
}
html, body{
  // overflow:auto;
}
html { 
  margin:0; 
  padding:0; 
  // position: relative;
  min-height: 100%;
  height: auto;
  // overflow-x: hidden;
}
.hide__all{
  // display: none !important;
  visibility: hidden !important;
  opacity:0 !important; 
}
.line--hr{
  border-top:1px solid #b5b5b5;
  border-right:none;
  border-bottom:none;
  border-left:none;
  margin:10px 0;
}
.line__double--hr{
  @extend .line--hr;
  border-top:4px double #b5b5b5;
}

body { 
  // position:relative;
  // display: inline-block;
  // display: table;
  // display: -webkit-inline-flex;
  // display: -moz-inline-flexbox;
  // display: -ms-inline-flexbox;
  display: flex;
  flex: none;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-weight: 400; font-size: 100%; 
  font-family: 'Avenir-Roman';
  color: #333;
  margin:0 auto; padding:0;
  background:#fff;
  // height:100%;    
}

.container{
  // display: table-row;
  display: inline-block;
  position: relative;
  margin:0 auto; 
  padding:0;
  width:100%; 
  min-height:100%;
  height: auto;
  // overflow:hidden;
  // overflow-x: hidden;   
}

section.main{
  display: inline-block;
  width: 100%;
}

section.main__container__wrapper{
  position:relative;
  display: block;
  width: 100%;
  text-align: center;
  // overflow-x:hidden;  
    .banner--article{      
      // max-width: 100%;
      // height:auto;
      overflow:hidden;
    }
    .main__container__fluid{
      width: 100%;
      // width: 1360px;
      position: relative;
      display: inline-block;
      margin:0 auto;
      // padding:0;
      top:0; right:0; bottom:0; left:0;
      text-align: left;      
    }
    .main__container,
    .main__container__2,
    .main__container__3{
      // width:1300px;
      position: relative;
      display: inline-block;
      margin:0 auto;
      // padding:0;
      top:0; right:0; bottom:0; left:0;
      text-align: left;
        .breadscrumbs{
          color:#aa8f7c;
          // font-size: 16px;
          text-align:left;
          clear:both;
            .breadscrumbs--a{
              display: inline-block;
              color:#aa8f7c;
              // margin:0px 4px;
              padding: 4px 0;              
              &:hover{
                color:#b8b8b8;  
              }
            }            
        }
        // .main__container--hr{
        //   border-top:1px solid #e3e3e3;
        //   border-right:none;
        //   border-bottom:none;
        //   border-left:none;
        //   margin:0 0 20px 0;
        // }
        .main__container--article{
          // @include column(1, 0, 0%);
            a{
              color:#000;
            }
        }
        .main__container--map{
          float:left;
          // width:50%;
          overflow:hidden;
          margin:0; padding:0;  
            #map_canvas{
              // width:98%;
              height: 350px;
              border:2px solid #f3edf1;
            }                
        }
        .main__container--desc{
          @extend .main__container--map;
            .desc--article{
              // padding:0 0 0 20px;
              font-family: 'MyriadPro-Regular';
              a{
                color:#000;
              }
            }
        }
    }
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
  section.main__container__wrapper--contact{
    // margin: 0 0 -191px 0;
  }
  .breadscrumbs{
    font-size: 13px;
    background:#f1f1f1;
      .breadscrumbs--a{
        margin:0px 1px;
      }
  }
  .banner--article{      
    max-width: 100%;
    height:auto;
  }
  .main__container,
  .main__container__2,
  .main__container__3{
    width:90%;
      .main__container--map{
        width:100%;  
          #map_canvas{            
            display: none;
          }                
      }
  }
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
  .breadscrumbs{
    font-size: 14px;
    .breadscrumbs--a{
        margin:0px 4px;
      }
  }
  .banner--article{
  }
  .main__container,
  .main__container__2,
  .main__container__3{
      .main__container--map{
          #map_canvas{
            display: inline-block;
            width:100%;
          }                
      }
      .main__container--desc{
          .desc--article{
            padding:20px 0 0 0px;
          }
      }
  }
}
/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
  section.main__container__wrapper{
    margin: 0 0 358px 0;
  }
  .breadscrumbs{
    font-size: 16px;
  }
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
  section.main__container__wrapper{
    margin: 0 0 358px 0;
  }
  section.main__container__wrapper--contact{
    margin: 0 0 440px 0;
  }
  .breadscrumbs{
    background: transparent;
  }
  .main__container,
  .main__container__2,
  .main__container__3{
    width:990px;
      .main__container--article{
          @include column(1, 0, 0%);
                    
      }
      .main__container--map{
        width:50%; 
          #map_canvas{
            width:98%;
          }        
      }
      .main__container--desc{
          .desc--article{
            padding:0px 0 0 20px;
          }
      }
  }  
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
  .banner--article{      
    min-width: 100%;
    height:409px;
  }
  .main__container,
  .main__container__3{
    width:1300px;
      .main__container--article{
        @include column(2, 30px, 0%);                    
      }
  }
}

/* (1900px above)----------- */
@media only screen 
and (min-width : 1900px) { 
  .main__container{
    width:1800px;
  }
}



