
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Avenir-Medium.woff') format('woff'),
         url('../fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.eot');
    src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Avenir-Roman.woff') format('woff'),
         url('../fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bello-script';
    src: url('../fonts/bello-script.eot');
    src: url('../fonts/bello-script.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bello-script.woff') format('woff'),
         url('../fonts/bello-script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

