form {	
}

input,form,select,textarea {
	font-family: 'Avenir-Roman';
	&[disabled] {
		opacity: .5;
		cursor: not-allowed;
	}
}
input, textarea,select {
	max-width: 100%;
	background-color:#fff;
	color:#7d7c7c;		
	padding:4px 5px;
	border-radius:5px;
	border: 1px solid #cfcfcf;
	vertical-align: middle;
	font-size:16px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 		
	&:active,&:focus {
		outline:none;
	}
	option{
		color:#959595;
		background:rgba(237,237,237,0.9);
		border-top:0;
		border-right:0;
		border-left:0;
		border-bottom:1px solid rgba(235,235,235,0.9);
		border-radius:4px;
	}
}

////////// combobox style ///////////
select.combobox{
	background:#f7f7f7;
}

////////// checklist style ///////////
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  	position: absolute;
  	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  	position: relative;
  	// padding-left: 18px;
  	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  	content: '';
  	position: absolute;
  	left:0; 
  	top: 5px;
  	width: 8px; 
  	height: 8px;
  	border: 1px solid #c4c3c3;
  	background: transparent;
  	border-radius: 2px;
  	// box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  // content: '✔';
  content: "aaa";
  text-indent: -9999px; 
  background:url('../images/icon--checklist.png') no-repeat;
  width:12px;
  height:11px;
  position: absolute;
  top: 3px;
  // left: 1px;
  font-size: 15px;
  color: #09ad7e;
  transition: all .1s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);  
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

////////// radio style /////////////
/* checkbox aspect */
input[type="radio"] {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:10px; 
	width:10px; 
	margin:-1px;
	padding:0; 
	border:0;
}

input[type="radio"] + label {
	height:10px; 
	display:inline-block;
	// line-height: 20px;
	// background-position: 0 5px;
	// padding: 3px 0px;
	// margin: 15px 0 15px 0;
	vertical-align:middle;
	cursor:pointer;
}
label.custom--label:before {
	content: "";
	position: absolute;
	// top:0;
	// left:0; right:0;
	// margin:0 auto;
	text-indent: -9999px; 
	height:10px;
	width: 10px;
	background:url('../images/icon--radiobox.png') no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type="radio"]:checked + label:after {
	@extend label.custom--label:before;
	background:url('../images/icon--radiobox.png') no-repeat;
  	// background-position: 0 -10px; 
}

//////// form style

form{
	.form__content--divwrapper{
		display: block;
		position: relative;
		// height:40px;									
			label.form__content--label{
				display: inline-block;
				// width:150px;
				margin:12px 0px;
					.shipping__cost--text{
						color:#958259;
					}					
			}
			.dot--dot{
				width: 10px;				
			}
			span.form__content--select--wrapper{
				display: block;
				// width: 55%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box; 
					select.form__content--selectmini{
						display:inline-block;
							option{

							}
					}
					input.form__content--selectinput{
						display:inline-block;
					}					
			}
			span.form__content--subscribe{				
				width: 100%;
					input.input--subscribe{
						// width:235px;
						// padding: 8px 8px;
						// margin:0 10px 0 0;
					}
					a.link--subscribe{
						// width: 75px;
					}
			}
			textarea.form__content--textarea{
				display: inline-block;
				// margin:6px auto;
			}
			input.form__content--input,
			select.form__content--select,
			textarea.form__content--textarea{
				// width: 56%;
			}
			input.form__content--input--ed{
				// width: 8%;
			}
			input.form__content--input--cvv{
				// width: 15%;
			}
			input.form__content--input--cc,
			input.form__content--input--ed,
			input.form__content--input--cvv{
				border:1px solid #9c9c9c;
			}			
			span.form__content--info{											
				position: absolute;
				// top:0;
				// margin:0 0 0 10px;
				vertical-align: middle;
				white-space: nowrap;
					img{
						// margin:-2px 0 0 0;
					}
			}
			span.form__content--info2{
				vertical-align: middle;
				white-space: nowrap;
			}
			span.shipping__cost--price{
				@extend h3;
				font-family: 'Avenir-Medium';
				color:#958259;
			}
			small.shipping__cost--price--small{
				font-family: 'Avenir-Medium';
				color:#858383;
			}
			.form__content--font{
				position:absolute;
				margin:2px 0 0 0;
				padding:0 0;
				font-family: 'Avenir-Medium';
				font-size: 13px;
				line-height: 14px;
				color:#c4c4c4;
				font-style:italic;
				// white-space: nowrap;
			}
			.form__content--font--cc{
				margin:0 2px 0 0;
				padding:0;
				font-family: 'Avenir-Medium';
				font-size: 18px;
				color:#c4c4c4;
				font-style:italic;
				white-space: nowrap;
			}
			.info--failed{
				// right: 0;
				font-style: italic;
				color:#c60809;
			}
			.info--success{
				font-style: italic;
				color:#0eb41f;
			}			
	}															
}
input.add__tocart--input{
	display:inline;
    opacity: 1;            
    z-index: 99999999;
    font-size:14px;
    color: #bfbfbf;            
    text-align: center;
    border-radius: 4px;
    line-height: 25px;
    width:40px;
    padding:3px 5px;
    margin: 0px 0px 0px 10px;
    border:1px solid #9accf5;
}
span.info__alert{
	position: relative;
	font-family: 'Avenir-Medium';
	display: block;
	font-size: 14px;
	margin: 0 0 0 16px;
}
.alert--success{
	color:#0eb41f;
}
.alert--failed{
	color:#c60809;
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
	form{
		.form__content--divwrapper--payment{
			width: 80% !important;
		}
		.form__content--divwrapper{	
			width: 100%;
			// height:60px;							
				label.form__content--label{
					width:100%;
					margin:15px 0px 0px 0px;
				}
				.dot--dot{
					display: none;
				}
				label.form__content--label--shippingcost{
					width: 50%;
					// margin: 8px 0 5px 0;
					text-align: right;
				}
				span.shipping__cost--price{
					margin: 5px 0 5px 8px !important;
					line-height: 2;
				}
				label.hide--space--info{
					display: none;
				}
				span.form__content--select--wrapper{
					display: block;
					width: 100%;
					margin: 0 0 -20px 0;
						select{
							width:23%;
							margin: 0 1% 0 0;
							padding:4px 0.5%;
						}
						input{
							width: 74%;
							margin:0;
							padding:4px 1%;
						}
				}
				span.form__content--subscribe{
					input.input--subscribe{
						width:100%;
						padding: 8px 8px;
						margin:4px 10px 5px 0;
					}
					a.link--subscribe{
						width: 75px;
					}
			}	
				textarea.form__content--textarea{
					margin:0px auto;
				}
				input.form__content--input,
				select.form__content--select,
				textarea.form__content--textarea{
					width: 100%;
				}
				input.form__content--input--ed{
					width: 40px;
				}
				input.form__content--input--cvv{
					width: 60px;
				}				
				span.form__content--info{
					margin:0 0 0 5px;
					font-size:12px;
						img{
							// margin:-2px 0 0 0;
						}
				}
				span.form__content--info2{
					margin:0px 0 0 5px;
					font-size:12px;
					position: relative;
				}
				.info--failed{
					top:initial;
					right: 0;
				}
				.info--success{
					top:10px;
				}					
		}							
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	  	padding: 20px 0 0 0;
	  	clear: both;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	  	left: 0;
		right: 0;
		margin: 0 auto;
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	input[type="radio"] + label {
		line-height: 20px;
		background-position: 0 4px;
		padding: 15px 0 30px 0;
		margin: 0;
		text-align: center;
	}
	label.custom--label:before {
		top:3px;
		left:0; right:0;
		margin:0 auto;
	}
	input[type="radio"]:checked + label:after {
  		background-position: 0 -15px; 
	}
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
	form{
		.form__content--divwrapper{
			width: 100%;			
			span.form__content--info{
				font-size:14px;
			}
			span.form__content--subscribe{
					input.input--subscribe{
						width:initial;
						margin:4px 10px 5px 0;
					}
			}				
		}						
	}	
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
	form{
		.form__content--divwrapper--shipping{
			width: 60% !important;		
		}
		.form__content--divwrapper--payment{
			width: 100% !important;
		}
		.form__content--divwrapper{	
			label.form__content--label--shippingcost{
				text-align: left;
			}
			span.form__content--subscribe{
					input.input--subscribe{
						width:100%;
						margin:0 10px 5px 0;
					}
			}
		}	
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	  	padding: 0 0 0 18px;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		margin:0;	  	
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {	  
	  left: 1px;
	  margin:0;
	}
	input[type="radio"] + label {
		line-height: 12px;
		background-position: 0 5px;
		padding: 3px 0px 3px 18px;
		margin: 2px 0;
		text-align: center;
	}
	label.custom--label:before {
		top:11px;
		left:0; right:initial;
		margin:0;
	}
	input[type="radio"]:checked + label:after {
  		background-position: 0 -15px; 
	}
}

/* (1024px above)----------- */
@media only screen
and (min-width : 1024px) {
	form{
		.form__content--divwrapper,
		.form__content--divwrapper--shipping{
			width:100% !important;								
				label.form__content--label{
					width:30%;
					margin:12px 0px;
				}
				.dot--dot{
					display: inline-block;
				}
				label.hide--space--info{
					display: inline-block;						
				}
				span.form__content--select--wrapper{
					display: inline-block;
					width: 59%;
				}
				span.form__content--subscribe{
					input.input--subscribe{
						width: 235px;
					}
				}
				textarea.form__content--textarea{
					margin:6px auto;
				}
				input.form__content--input,
				select.form__content--select,
				textarea.form__content--textarea{
					width: 59%;
				}				
				span.form__content--info{
					top:10px;
					margin:0 0 0 8px;
						img{
							margin:-2px 0 0 0;
						}
				}
				span.form__content--info2{
					position: absolute;
					top:14px;
					margin:0 0 0 8px;
					font-size:14px;
				}
				.info--failed{
					right: initial;
				}								
		}							
	}
	input[type="radio"] + label {
		text-align: left;
	}
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {  
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) { 
}