
// slider

.grayscale{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  // @include blurbg (grayscale(1));
  // @include noflicker(); /* Fix for transition flickering */
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  &:hover{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    // @include blurbg (grayscale(0));
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.lazy {
    position:relative;
    margin: 0 auto;
    padding:100px 0;
    @include delay (1s all);
}


////////// bxslider custom //////////////

// slider banner home
section.slider__banner__wrapper{
  // width:1360px;
  width: 100%;
  margin:0px auto 5px auto;
    .slider__wrapper{
      margin:0 auto;
      @include noflicker();
        .bx-wrapper{
            .bx-viewport{
              min-height: 400px !important;
            }
            .bx-controls{
                .bx-pager{
                  // width: initial;
                  // right: 25%;
                }
                .bx-controls-direction{
                    a{
                      z-index: 100;
                    }
                }
            }
        }
        .slider__banner{
          list-style: none;
            li{
              position:relative;
              width: 100% !important;
                img.slider__banner--img{
                    min-width: 100%; 
                    min-height: 400px !important;
                    margin:0 auto;
                }
                .slider__banner--caption{
                  position:absolute;  
                  // width: 540px;                
                  z-index:10;
                  // top:110px;
                  // right:80px;
                  font-family: 'Avenir-Medium';                  
                  // background:#eee;
                    h1.slider__banner--caption--h1{
                      // font-size:30px;
                      // line-height: 38px;
                    }
                    h4.slider__banner--caption--h4{
                      font-weight: normal;
                      margin:0;
                    }
                }
            }
            li:not(:first-child){
              display: none;
            }
        }
    }
}

//slider best seller
section.slider__bestseller__wrapper{
  width: 100%;
  // height:360px !important;
  overflow: hidden !important;
  padding: 0 0 10px 0;
  margin: 0 0 15px 0; 
  background: url(../images/img--pattern--bestseller.png) repeat;  
    .slider__bestseller--title{
      text-align: center;
      background:rgba(219,220,214,0.6);
      display: block;     
      padding:2px 0 5px 0; 
        h1{
          font-family: 'bello-script';
          color:#969791;
          font-size: 30px;
          line-height: normal;
          margin:0;
          padding:0;
        }
    }
    .bx-wrapper{
      max-width: 100% !important;
      margin: 0 auto !important;
      z-index: 1;
      overflow:visible;
        .bx-viewport{
          // min-height:320px !important;
            .slider__bestseller{
              display: inline-block;
              margin:10px auto 0 auto;     
              // height:320px !important;              
                div{
                  display: inline-block;
                  position: relative;
                  // width: initial !important;
                  // height: 320px;
                  text-align:center;
                  border-right:1px solid #cdcfca;
                  // margin:0 !important;
                  // padding:0px 17.8px !Important;
                    a{
                      display:block;
                        img{                          
                          max-width:100%;
                          height:auto;
                          text-align:center;
                          margin:0 auto 5px auto;
                        }
                        h5.slider__bestseller--name{
                          font-weight:bold;
                          color:#000;
                        }
                        h5.slider__bestseller--type{
                          color:#969696;
                        }
                    }                    
                }                    
            }
        }
        .bx-controls{
            .bx-pager{
              display: none !important; 
            }
        }
    }
}

//slider recommended
section.slider__recommended__wrapper{
  width: 100%;
  margin:0px auto 15px auto;
  background:#e5ddcc; 
  overflow: hidden !important; 
    .slider__recommended--title{
      text-align: center;
      @include gradient-color(#99855b, #7d6d4b);
      display: block;     
      padding:5px 0 3px 0; 
        h3{
          color:#fff;
          font-size: 20px;
          font-weight:normal;
        }
    }
    .bx-wrapper{
      max-width: 100% !important;
      margin: 0 auto !important;
      z-index: 1;
      overflow:visible;
        .bx-viewport{
          // min-height:245px !important;
          // width: 640px !Important;
          margin:0 auto;
            .slider__recommended{
              display: inline-block;
              margin:10px auto 0 auto;     
              // height:320px !important;
                div{
                  display: inline-block;
                  position: relative;
                  // width: initial !important;
                  // height: 320px;
                  text-align:center;
                  border-right:1px solid #cdcfca;
                  margin:0px 20px 0 0 !important;
                  background:#fff;
                  border-radius:4px;
                    a{
                      display:block;
                        img{                          
                          max-width:100%;
                          height:auto;
                          text-align:center;
                          border-radius:4px;
                        }
                    }                    
                }                    
            }
        }
        .bx-controls{
            .bx-pager{
              height: 43px;
            }
        }
    }
}

//slider corporate, special gifts, wedding world
section.slider__corporate__wrapper,
section.slider__specialgifts__wrapper,
section.slider__weddingworld__wrapper{
  width: 100%;
  margin:0px auto 5px auto; 
  overflow: hidden !important; 
    .slider__corporate--title{
      text-align: left;      
      display: block;     
      padding:5px 0 3px 0; 
        h3{
          color:#535252;
          font-size: 20px;
        }
    }
    .bx-wrapper{
      margin: 0 auto !important;
      z-index: 1;
      overflow:visible;
        .bx-viewport{
          // min-height:245px !important;
          // width: 640px !Important;
          margin:0 auto;
          padding:0 0 10px 0;
          border-bottom:1px solid #d5d5d5;
            .slider__middle{
              display: block;
              margin:10px 0;              
                div{
                  // width:200px !important;
                  text-align: center;
                  margin:0px 20px 0 0;
                  background:#fff;
                  border-radius:4px;
                    img{
                      text-align:center;
                      margin:0 auto;
                      max-width:100%;
                      height:auto;
                      border-radius:4px;
                    }
                    h5.slider__corporate--name{
                      font-weight:bold;
                      color:#000;
                    }
                    h5.slider__corporate--type{
                      color:#969696;
                    }
                }
            }
        }
        .bx-controls{
            .bx-pager{
              display: none;
            }
            .bx-controls-direction{
                a{
                  top:initial;
                  bottom:25px;
                }
                .bx-prev,
                .bx-next{
                  z-index: 100;
                  width:8px;
                  height:11px;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;
                }
                .bx-prev{
                  left: initial;                  
                  // right:45px !important;
                  background:transparent; 
                  // background: url(../images/icon--arrowslidermiddle--left.png) no-repeat;
                  &:after{
                      content: '';
                      position: absolute;
                      top: 100%;
                      left:0; right:0;
                      margin: 0px auto;
                      width: 0; 
                      height: 0;
                      // border-bottom: 6px solid transparent;
                      // border-top: 6px solid transparent;
                      // border-right: 8px solid #ac907e;
                  }
                }
                .bx-next{
                  // right:30px !important;
                  background:transparent;
                  // background: url(../images/icon--arrowslidermiddle--right.png) no-repeat;
                  &:after{
                      content: '';
                      position: absolute;
                      top: 100%;
                      left:0; right:0;
                      margin: 0px auto;
                      width: 0; 
                      height: 0;
                      // border-bottom: 6px solid transparent;
                      // border-top: 6px solid transparent;
                      // border-left: 8px solid #ac907e;
                  }
                }
            }
        }
    }
}


/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
  .lazy {
    padding:30px 0;
  }
  section.slider__banner__wrapper{
    .slider__wrapper{
        .bx-wrapper{
            .bx-controls{
                .bx-pager{
                  width: 100%;
                  right: initial;
                  bottom:-25px;
                }
            }
        }
    }
  }
  .slider__banner--caption1{
    color:#473612;
  }
  .slider__banner--caption2{
    color:#424242;
  }
  .slider__banner--caption3{
    color:#fff;
  }
  .slider__banner--caption{
    position:absolute;  
    width:100%;
    top:initial;
    bottom:30px;
    right: 0%;
    text-align: center;
      h1.slider__banner--caption--h1{
        width: 90%;
        font-size:16px;
        line-height: 20px;
        margin: 0 auto;
      }
      h4.slider__banner--caption--h4{
        font-size:14px;
        width: 98%;
        margin:0 auto !important;
      }
  }
  section.slider__bestseller__wrapper{
    height:210px !important;    
      .bx-wrapper{
        .bx-viewport{
            .slider__bestseller{
                div{
                  width: 100px !important;
                  height: 160px;
                  padding:0px 0.5px !Important;
                  margin: 0px 0px 5px 0px !important;                 
                }                    
            }
        }
        .bx-controls{
          .bx-controls-direction{
            .bx-prev{
              left:-10px !important;
              @include scale(0.5);
            }
            .bx-next{
              right:-10px !important;
              @include scale(0.5);
            }
          }
        }
      }
  }
  section.slider__recommended__wrapper,
  section.slider__corporate__wrapper,
  section.slider__specialgifts__wrapper,
  section.slider__weddingworld__wrapper{
    height:195px !important;
    .bx-wrapper{
        .bx-viewport{
          min-height:155px !important;
          width: 260px !Important;
            .slider__recommended,
            .slider__middle{              
                div{
                  width:120px !important;                  
                }
            }
        }
    }
  }
  section.slider__corporate__wrapper,
  section.slider__specialgifts__wrapper,
  section.slider__weddingworld__wrapper{
    .bx-wrapper{
        .bx-controls{
            .bx-controls-direction{
                a{
                  top:35%;
                }
                .bx-prev{
                  left:0px;                  
                  // right:45px !important;
                  &:after{
                      border-bottom: 20px solid transparent;
                      border-top: 20px solid transparent;
                      border-right: 20px solid #ac907e;
                  }
                }
                .bx-next{
                  right:12px;
                  // right:30px !important;
                  &:after{
                      border-bottom: 20px solid transparent;
                      border-top: 20px solid transparent;
                      border-left: 20px solid #ac907e;
                  }
                }
            }
        }
    }
  }
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
  .lazy {
    padding:40px 0;
  }
  .slider__banner--caption{
      h1.slider__banner--caption--h1{
        font-size:20px;
      }
      h4.slider__banner--caption--h4{
        font-size:18px;
      }
  }
  section.slider__bestseller__wrapper{
    height:240px !important;    
      .bx-wrapper{
        .bx-viewport{
            .slider__bestseller{
                div{
                  width: 153.5px !important;
                  height: 190px;                
                }                    
            }
        }
      }
  }
  section.slider__recommended__wrapper,
  section.slider__corporate__wrapper,
  section.slider__specialgifts__wrapper,
  section.slider__weddingworld__wrapper{
    height:210px !important;
    .bx-wrapper{
        .bx-viewport{
          min-height:165px !important;
          width: 400px !Important;
            .slider__recommended,
            .slider__middle{              
                div{
                  width:120px !important;                  
                }
            }
        }
    }
  }  
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
  .lazy {
    padding:70px 0;
  }
  section.slider__bestseller__wrapper{
    height:265px !important;    
      .bx-wrapper{
        .bx-viewport{
            .slider__bestseller{
                div{
                  width: 187px !important;
                  height: 215px;              
                }                    
            }
        }
      }
  }
  section.slider__recommended__wrapper,
  section.slider__corporate__wrapper,
  section.slider__specialgifts__wrapper,
  section.slider__weddingworld__wrapper{
    height:300px !important;
    .bx-wrapper{
        .bx-viewport{
          min-height:245px !important;
          width: 640px !Important;
            .slider__recommended,
            .slider__middle{              
                div{
                  width:200px !important;
                }
            }
        }
    }
  }
  section.slider__corporate__wrapper,
  section.slider__specialgifts__wrapper,
  section.slider__weddingworld__wrapper{
    .bx-wrapper{
        .bx-controls{
            .bx-controls-direction{
                .bx-prev{
                  left:0px;
                }
                .bx-next{
                  right:11px;
                }
            }
        }
    }
  }
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
  section.slider__banner__wrapper{
    .slider__wrapper{
        .bx-wrapper{
            .bx-controls{
                .bx-pager{
                  width: initial;
                  right: 25%;
                }
            }
        }
    }
  }
  .slider__banner--caption{
    position:absolute;  
    width: 480px;
    top:140px;
    right: 0%;
    text-align: left;
      h1.slider__banner--caption--h1{
        font-size:30px;
        line-height: 38px;
      }
      h4.slider__banner--caption--h4{
        font-size:16px;
      }
  }
  section.slider__bestseller__wrapper{
    height:370px !important;    
      .bx-wrapper{
        .bx-viewport{
            .slider__bestseller{
                div{
                  width: 300px !important;
                  height: 320px;
                  padding:0px 18.2px !Important;
                  margin: 0px 0px 5px 0px !important;                 
                }                    
            }
        }
        .bx-controls{
          .bx-controls-direction{
            .bx-prev{
              left:10px !important;
              @include scale(1);
            }
            .bx-next{
              right:10px !important;
              @include scale(1);
            }
          }
        }
      }
  }
  section.slider__corporate__wrapper,
  section.slider__specialgifts__wrapper,
  section.slider__weddingworld__wrapper{
    .bx-wrapper{
        .bx-controls{
            .bx-controls-direction{
                a{
                  top:initial;
                  bottom:25px;
                }
                .bx-prev{ 
                  left:initial;               
                  right:45px !important;
                  &:after{
                      border-bottom: 6px solid transparent;
                      border-top: 6px solid transparent;
                      border-right: 8px solid #ac907e;
                  }
                }
                .bx-next{
                  right:30px !important;
                  &:after{
                      border-bottom: 6px solid transparent;
                      border-top: 6px solid transparent;
                      border-left: 8px solid #ac907e;
                  }
                }
            }
        }
    }
  }
}

/* (1280px above)----------- */
@media only screen 
and (min-width : 1280px) {
  .slider__banner--caption{
    position:absolute;  
    width: 480px;
    top:120px;
    right: 9%;
  }
  section.slider__bestseller__wrapper{  
      .bx-wrapper{
        .bx-viewport{
            .slider__bestseller{
                div{
                  padding:0px 10px !Important;              
                }                    
            }
        }
      }
  }
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
  section.slider__bestseller__wrapper{  
      .bx-wrapper{
        .bx-viewport{
            .slider__bestseller{
                div{
                  padding:0px 18.2px !Important;              
                }                    
            }
        }
      }
  }
}

/* (1400px above)----------- */
@media only screen 
and (min-width : 1400px) {
  section.slider__banner__wrapper{
    .slider__wrapper{
        .bx-wrapper{
            .bx-controls{
                .bx-pager{
                  width: initial;
                  right: 25%;
                }
            }
        }
    }
  }
  .slider__banner--caption{
    position:absolute;  
    width: 570px;
    top:140px;
    right:10%;
  }
  section.slider__bestseller__wrapper{  
      .bx-wrapper{
        .bx-viewport{
            .slider__bestseller{
                div{
                  padding:0px 22px !Important;              
                }                    
            }
        }
      }
  }
}

/* (1900px above)----------- */
@media only screen 
and (min-width : 1900px) {
  section.slider__bestseller__wrapper{ 
    .bx-wrapper{
      .bx-viewport{
        .slider__bestseller{
          div{
            width: 340px !important;
            padding:0px 20px !Important;               
          }                    
        }
      }
    }
  }
  section.slider__recommended__wrapper,
  section.slider__corporate__wrapper,
  section.slider__specialgifts__wrapper,
  section.slider__weddingworld__wrapper{
    // height:300px !important;
    .bx-wrapper{
        .bx-viewport{
          min-height:245px !important;
          width: 89% !Important;
        }
    }
  }
}
