
// tab payment method
nav.payment__method__tab{
	margin:0 0 -7px 0;
	padding:0;
	.payment__method__tab--ul{
		// width: 100%;
		display: inline-block;
		margin:0;
		padding:0;
		.payment__method__tab--li{
			display: inline-block;
			float:left;
			margin:0;
			padding:0;
			.payment__method__tab--a{
				display: block;
				// font-size: 14px;
				color:#000;
				background:#ebebeb;
				// margin:0 5px 0 0;
				// padding:8px 12px;
				border-top:1px solid #c2c2c2;
				border-right:1px solid #c2c2c2;
				border-left:1px solid #c2c2c2;
				border-bottom:none;
				border-radius:4px 4px 0 0;
				z-index: 0;				
				&:hover{				
					background:#f2f2f2;
				}
			}			
		}
		.payment__method__tab--active{
			.payment__method__tab--a{
				position: relative;
				background:#fff;
				z-index: 2;
				&:hover{					
					background:#fff;
				}
			}
		}
	}
}
.payment__method__containertab--wrapper{
	// min-height:463px;
		.payment__method__containertab{
			position: relative;
			margin:0;
			padding:20px 10px;
			border:1px solid #c2c2c2;
			border-radius:0px 4px 4px 4px;
			z-index:1;
				.payment__method__content{
					display: none;
					ul{
						padding: 0 1em;							
						list-style: disc;
						li{
							margin: 10px 0;
						}
					}
					article p{
						// font-size: 14px;
						// line-height: 18px;
						color:#000;
							img{
								margin:0 0 5px 0;
							}
							i{
								font-size: 13px;
							}
					}
				}
				.payment__method__content:first-child{
					display: block;
				}
		}
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
	.payment__method__tab--ul{
		width: 100%;
			.payment__method__tab--li{
				width: 33%;
				.payment__method__tab--a{
					font-size: 12px;
					margin:0 0px 0 0;
					padding:8px 0px;
					text-align: center;
					height:34px;
				}			
			}
	}
	.payment__method__content{
		article p{
			font-size: 13px;
			line-height: 20px;
		}
	}
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
	.payment__method__tab--ul{
			.payment__method__tab--li{
				.payment__method__tab--a{
					font-size: 14px;
					padding:14px 0px;
					height:initial;
				}			
			}
	}
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
	.payment__method__tab--ul{
		width: initial;
			.payment__method__tab--li{
				width: initial;
				.payment__method__tab--a{
					font-size: 14px;
					margin:0 5px 0 0;
					padding:10px 12px;
					text-align: left;
				}			
			}
	}
	.payment__method__containertab--wrapper{
		min-height:475px;
	}
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) { 
}
