
// home page

section.home__slider__middle{
	display: inline-block;
	float:left;
 	// width: 730px;
	// margin: 0px 20px 0px 20px;
 	// background:#eee; 
}

section.advertisement{
	// display: inline-block;
	// width: 100%;
		ul.advertisement--ul{
			display: inline-block;
			margin:0; 
			padding:0;
			list-style: none;
				.advertisement--li{
					float:left;
					display:inline-block;
					margin:0 0px 10px 0;
					padding:0;
						img.advertisement--img{
							float:left;
							// min-width: 100%;
						}
				}
				.advertisement--li:nth-child(1),
				.advertisement--li:nth-child(3){
					// margin:0 10px 10px 0;
				}
		}
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
	section.home__slider__middle{		
	  	width: 100%;
	}
	section.advertisement{
		display: none;
	}
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {	
	section.advertisement{
		display: inline-block;
		width: 100%;
		ul.advertisement--ul{
			.advertisement--li{
				width: 49.25%;
				img.advertisement--img{
					max-width: 100%;
				}
			}
			.advertisement--li:nth-child(1),
			.advertisement--li:nth-child(3){
				margin:0 1.5% 1.5% 0%;
			}
		}
	}
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
	section.home__slider__middle{
	  	width: 760px;
	  	margin: 0px 0px 0px 20px;
	}	
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
	section.home__slider__middle{
	  	width: 730px;
	  	margin: 0px 20px 0px 20px;
	}
}

/* (1900px above)----------- */
@media only screen 
and (min-width : 1900px) {
	section.home__slider__middle{
		float:left;
	  	width: 1230px;
		margin: 0px 20px 0px 20px;
	}
	section.advertisement{
		ul.advertisement--ul{
			.advertisement--li{
				img.advertisement--img{
					min-width: 100%;
				}
			}
		}
	}
}