
// payment step

ul.payment__step--ul{
	width: 100%;
	display: inline-block;
	margin:10px 0 0 0; padding:0;
	list-style:none;
	border-bottom:1px solid #ebebeb;
	.payment__step--li{
		position: relative;
		width: 33.33%;
		display: inline-block;
		float:left;
		margin:0 0 -22px 0;
		text-align: center;
			.payment__step--a{
				position: relative;
				display:block;
				h4.payment__step--h4--now{
					color:#958259;
					font-weight:bold;
					margin:10px 0;
					white-space: nowrap;
				}
				h4.payment__step--h4--after{
					color:#958259;
					font-weight:normal;
					margin:10px 0;
					white-space: nowrap;
				}
				h4.payment__step--h4--before{
					color:#b5b5b5;
					font-weight:normal;
					margin:10px 0;
					white-space: nowrap;
				}
				span{
					position:relative;
					z-index: 1;
				}
				hr.payment__step--hr--after{					
					@extend .line--hr !optional;
					position: absolute;
					width:100%;
					// top:45px;
					margin:0 0 0 0 !important;
					border-top:2px solid #958259 !important;
					z-index: 0;
				}
				hr.payment__step--hr--after--half{
					@extend .payment__step--hr--after;
					width:50%;
				}
			}
	}
}

// shopping cart
.account__wrapper{
	.account--main{
		h2.payment__step--main--h2{
			// margin: 85px 0 0 0;
			color:#000;
		}
	}	
}
.shoppingcart__wrapper{
	margin:15px 0 0 0;
		.giftnote__box{
			ul{
				padding:0;
				margin:1em 0;
				list-style: none;
				li{
					label{
						font-weight: normal;
						font-family: 'Avenir-Roman';
					}					
				}
			}
			textarea{
				// width: 100%;
			}
		}
} 
ul{
	list-style-type: circle;
	li{

	}
}
.payment__button__box{
	float:right;
	clear:both;
		a.payment__button__box--atext{
			font-family: 'Avenir-Medium';
			text-decoration:underline;
			color:#2692e9;
			margin:0 10px 0 0;
		}
}

// shipping & payment
.payment__step--main{
	display: inline-block;
	width: 100%;
	@extend .account--main;
		h2.payment__step--main--h2{
			// margin: 85px 0 0 0;
			color:#000;
		}
		hr.payment__step--main--hr{
			@extend .line--hr !optional;
			width:100%;
			margin:15px 0 20px 0 !important;
			border-top:1px solid #ebebeb !important;
		}
		.payment__method--error{
			display: block;
			margin:20px 0px 25px 0px;
				h4.payment__method--error--h4{
					font-family: 'Avenir-Medium';
					color:#c60809;
					margin:0;
				}
				hr.payment__method--error--hr{
					@extend hr.payment__step--main--hr !optional;
					margin:10px 0 !important;
				}
				p.payment__method--error--p{
					font-family: 'Avenir-Medium';
					color:#555555;
					margin:0;
				}
		}
		.payment__step__right{			
			display:inline-block;
			float: right;
			// width: 310px;
			border:1px solid #e4e3e3;
			border-radius:4px;
			margin:0px 0 0 0;
			// padding:15px;
				.payment__step__right__giftnote__wrapper{
					.giftnote--ul{
						margin:0;
						padding:0 1em;
						line-height: 1.5em;
  						list-style-image: url('../images/icon--checklist.png');
							.giftnote--li{
								font-size: 13px;
								font-family: 'MyriadPro-Regular';
								color:#000;
								margin:6px 0;
							}
					}
					p.giftnote--info--desc{
						margin:0 0 0 15px;
						font-size: 13px;
						font-family: 'Avenir-Medium';
						color:#555;
						line-height: normal;
					}
				}
				.orderinformation__wrapper{
					
				}			
		}
		.payment__step__left--shipping{
			// width:465px;
			// margin:0px 0 0 0 !important;
				.payment__step__box{
					display:block !important;
				}
		}
		.payment__step__left--payment{
			@extend .payment__step__left--shipping;
			// width:540px;
		}
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
	.payment__step__right{
		width: 100%;
		padding:0 0 10px 0;
	}
	.payment__step__left--shipping{
		display: inline-block;
		width:100%;
		margin:20px 0 20px 0 !important;
	}
	.payment__step__left--payment{
		width:100%;	
	}
	.payment__step__right__giftnote__wrapper,
	.orderinformation__wrapper{
		width: 95%;
		margin: 0 auto;
	}
	h2.payment__step--main--h2{
		margin: 45px 0 0 0;
		text-align: center;
	}
	hr.payment__step--hr--after{
		top:43px;
	}
	.giftnote__box{
		textarea{
			width: 100%;
		}
	}
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
	.payment__step__right{
		width: 310px;
		padding:15px;
	}
	.payment__step__right--payment{
		width: 42% !important;
	}
	.payment__step__left--payment{
		width: 50% !important;
	}		
	.payment__step__left--shipping{
		display: block;
		width:465px;
		margin:0px 0 0 0 !important;
	}
	
	.payment__step__right__giftnote__wrapper,
	.orderinformation__wrapper{
		width: initial;
		margin: 0 0;
	}
	h2.payment__step--main--h2{
		margin: 85px 0 0 0;
		text-align: left;
	}
	hr.payment__step--hr--after{
		top:45px;
	}
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
	.payment__step__right--payment{
		width:310px !important;
	}
	.payment__step__left--payment{
		width:540px !important;
	}
	.giftnote__box{
		textarea{
			width: 50%;
		}
	}
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) { 
}